img {
  width: 33.3%;
  padding: 5px;
}

.gallery-main-div {
text-align: center;
}

// .gallery-img-div {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   justify-content: center;
//   width: 100%;

// }