.side-nav-div {
  width: 200px;
  border-right: 2px solid rgb(66, 67, 66);
  margin-top: 50px;
}

.side-nav-list {
  list-style-type: none;
  font-size: 20px;
 
}

.list-item {
  border-bottom: 1px solid rgb(66, 67, 66);
  width: auto;
  padding: 10px 0;
  margin-right: 10px;
  font-family: 'Gugi', cursive;

  
}

.routes {
  text-decoration: none;
  color: #000;
}